<div class="container">
	<div class="company-title">
	<h3 class="company">{{company.name}}
 	</h3>
 	</div>
 	<div>
 		<p>{{opportunity.position}}
 		</p>
 	</div>
 	<div class="description">
 		<p>{{opportunity.description}}
		</p>
 	</div>
 	<button class="user-actions">
		<a href="/opportunities/{{company._id}}/download/{{opportunity._id}}">GET MATERIALS
		</a>
	</button>
</div>